{% extends 'layout.njk' %}
{% block content %}
    <div class="card">
        <section 
    class="avatar"
    style="background: url({{instructor.avatar_url}}) no-repeat center center / cover"></section>
        <section class="details">            
            {% include 'instructors/fields.njk'%}
        </section>
    </div>
{% endblock  %}