@import url('https://fonts.googleapis.com/css2?family=Roboto:400,700&display=swap');

:root{
    --var-rockeatseat: #7159c1;
    --var-secondary: #F7DF1E
}

*{
    margin: 0;
    padding: 0;
    margin: none;
}

body {
    background-color: var(--var-rockeatseat);
    font-family: 'Roboto', sans-serif;
}

header{
    background-color: #fff;
    width: 100%;
    padding: 32px;
    text-align: center;
    box-sizing: border-box;
}

.links {
    font-size: 22px;
}
/* Aplicando efeito no elemento precedente*/
.links a + a {
    margin-left: 64px;
    
}

.links a {   
    text-decoration: none;
    color: #777;
    position: relative;
}

.links a.active{
    font-weight: bold;
    color: var(--var-rockeatseat);
}

.links a:hover {
    color: var(--var-rockeatseat);

}

.links a::after {
    content: "";
    width: 0%;
    height: 2px;
    background-color: var(--var-rockeatseat);
    position: absolute;
    left: 0;
    bottom: 0;
}
/*Usando um pseudo elemento para a estilização dos links*/
.links a:hover:after {
    width: 100%;
    transition: width 200ms ease-in-out 1s;
}

/*        CARDS         */
.card{
    background-color: white;
    width: 880px;
    min-height: 400px;
    margin: 45px auto;
    
    /*grid dividido ao meio*/
    display: grid;
    grid-template-columns: 1fr 1fr;

    /* sombreamento */
    box-shadow: 0px 2px 6px -2px rgba(0, 0, 0, 0.3);

    /*     animação     */
    
    animation-name: up;
    animation-duration:  700ms;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
}
/*    ESTRUTURA DA ANIMAÇÃO    */
@keyframes up {
    from{
        opacity: 0;
        transform: translateY(15px);
    }
    to {
        opacity: 1;
    }
}

/*           DETAILS          */
.details{
    padding: 30px;
}

.details .item{
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding: 16px 0;
    
}

.details h3 {
    text-transform: uppercase;
    font-weight: bold;
    color: var(--var-rockeatseat);
}

/*    RETIRAR BORDA DO ÚLTIMO ELEMENTO */
.details .item:last-child {
    border: none;
}

/*     SELECIONANDO A PRIMEIRA DIV  */
.details .item div:nth-child(1){
    font-size: 14px;
    line-height: 24px;
    color: #777;
    letter-spacing: 0.7px;
    font-weight: normal;
}

.details .item div:nth-child(2){
    color: #555;
    font-size: 18px;
    font-weight: bold;
}
/*   Trabalhamdo com o Label  */
.details .item span {
    padding: 8px 16px;
    background-color: var(--var-secondary);
    border-radius: 16px;
    color: #777;
    margin-right: 4px;
    margin-top: 8px;
    display: inline-block;
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
}

/*      FORM       */

input{
    width: 100%;
    outline: none;
    border: none;
    color: #555;
    font-size: 18px;
    font-weight: bold;
}

/* Pegando só o tipo radio do input*/
input[type= "radio"]{
    width: initial;
    margin-right: 4px;
}

/* Estilizando o atributo do input*/
input::placeholder{
    font-size: 16px;
    font-weight: normal;

}

button[type="submit"],
a.button{    
    padding: 8px 32px;
    background-color: var(--var-rockeatseat);
    border-radius: 4px;
    margin-top: 32px;
    width: 100%;
    color: #FFF;
    font-size: 16px;
}

a.button{
    display: block;
    text-decoration: none;
    box-sizing: border-box;
    text-align: center;
}

#form-delete button[type="submit"]{
    margin-top: 8px;
    background-color: crimson;
}


/*       PAGE INDEX       */
.table-container{
    display: block;
    
}

.table-container table{
    width: 100%;
    height: 80%;
    box-sizing: border-box;
    padding: 32px;
    margin-top: 16PX;
}

thead, tr,  th {
    text-align: left;
    text-transform: uppercase;
}

thead, tr:last-child th {
    text-align: left;
    
}


tbody, td, th {
    padding: 16px 0px;
    border-bottom: solid 1px rgb(190, 168, 168);
}

/*   PEGANDO O ÚLTIMO TR DO TD*/
tbody tr:last-child td {
    border: none;
}

/*   CONFIGURANDO A IMAGEM DA COLUNA  */

tbody tr td:first-child {
    display: grid;
    grid-template-columns: 64px 1fr;
    align-items: center;
}

tbody tr td:first-child span{
    width: 48px;
    height: 48px;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    box-shadow: 3px -1px 3px 2px #c8c7dc;
    border: 1px solid;
}

/*  CONFIGURAÇÃO DO BOTÃO   */
tbody tr td:last-child a ,
.table-container a{
    padding: 8px 32px;
    background-color: var(--var-rockeatseat);
    border-radius: 8px;
    margin-top: 32px;
    width: 100%;
    color: #FFF;
    font-size: 16px;
    text-decoration: none;
    
}
.table-container a{
    display: inline;    
    margin: 48px;
    
}
.table-container thead tr th:last-child ,
td:last-child{
    text-align: center;
}

.table-container section{
    
}




